<?xml version="1.0" encoding="utf-8"?>
<NodeConfiguration>
	<Account>
		<Username>local_monitor</Username>
		<Domain>{{domain_name}}</Domain>
		<Password>{{local_monitor_password}}</Password>
	</Account>
	<MessangerClient>
		<DllPath>.</DllPath>
		<DllName>Monitron.Clients.XMPP.dll</DllName>
		<Type>Monitron.Clients.XMPP.XMPPMessengerClient</Type>
	</MessangerClient>
	<Plugin>
	 	<DllPath>.</DllPath>
		<DllName>Monitron.Plugins.LocalMonitorPlugin.dll</DllName>
		<Type>Monitron.Plugins.LocalMonitorPlugin.LocalMonitorPlugin</Type>
	</Plugin>
	<DataStore>
	 	<DllPath>.</DllPath>
		<DllName>Monitron.PluginDataStore.Local.dll</DllName>
		<Type>Monitron.PluginDataStore.Local.LocalPluginDataStore</Type>
		<Location>/etc/monitron/localmonitor.ds.json</Location>
	</DataStore>
 </NodeConfiguration>
