[Unit]
Description=Monitron Local Monitor Service

[Service]
ExecStart=/usr/bin/mono {% if mono_debug %} --debug --debugger-agent=transport=dt_socket,address=0.0.0.0:{{mono_debug_port}},server=y {% endif %} /opt/MonitronLocalMonitor/Monitron.Node.exe --conf /etc/monitron/localmonitor.conf
WorkingDirectory=/opt/MonitronLocalMonitor/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=monitron-local-monitor
User=monitron
Group=monitron

[Install]
WantedBy=multi-user.target

