#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover

#other
Monitron.Clients.XMPP.Tests/app.config
Monitron.CloudManagers.DigitalOcean.Tests/app.config
*.swp
/Boty.Api/node_modules/
/Boty.Api/uploads/
#
# compiled output
/Boty.Frontend/dist
/Boty.Frontend/tmp

# dependencies
/Boty.Frontend/node_modules
/Boty.Frontend/bower_components

# misc
/Boty.Frontend/.sass-cache
/Boty.Frontend/connect.lock
/Boty.Frontend/coverage/*
/Boty.Frontend/libpeerconnection.log
/Boty.Frontendnpm-debug.log
/Boty.Frontendtestem.log
/DeploymentScripts/ansible/site.retry
