<div class="btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{title}}<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
    {{yield}}
	</ul>
</div>
<!-- vim: set tabstop=2 shiftwidth=2 expandtab: -->
