{
	"mongo_server": "\"{{domain_name}}\"",
	"mongo_database": "\"monitron\"",
	"mongo_password": "\"{{monitron_admin_password}}\"",
	"mongo_user": "\"monitron_mgmt\"",
	"admin_user": "\"monitron_admin\"",
	"admin_password": "\"{{monitron_admin_password}}\""
}
