{{page-header title="Registered Accounts"}}
<table class="table table-striped">
  <thead>
    <tr>
			<th>Name</th><th>Admin</th><th>Actions</th>
		</tr>
  </thead>
  <tbody>
{{#each model as |account|}}
  <tr><td>{{account.name}}</td>
    <td>
      {{#if account.isAdmin}}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			{{/if}}
  	</td>
		<td>
      {{#action-menu title="Action"}}
				<li><a href="#" {{action "delete_account" account on="click"}}>Delete</a></li>
				<li><a href="#" {{action "toggle_admin" account on="click"}}>Toggle Admin</a></li>
      {{/action-menu}}
		</td>
	</tr>
{{/each}}
  </tbody>
</table>
<!-- vim: set tabstop=2 shiftwidth=2 expandtab: -->
