<div class="page-header">
  <h1>Boty! <small>Let's <strong>bot</strong> it up</small></h1>
</div>
<p>{{link-to 'Register an account!' 'register' class='btn btn-primary'}}</p>
<!-- vim: set tabstop=2 shiftwidth=2 expandtab: -->
