<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th><th>Description</th><th>version</th><th></th>
		</tr>
  </thead>
  <tbody>
{{#each model as |plugin|}}
<tr>
  <td>{{plugin.name}}</td>
  <td>{{plugin.description}}</td>
  <td>{{plugin.version}}</td>
  <td style="text-align:right;">
    <button class="btn btn-danger btn-xs" {{action "delete_plugin" plugin on="click"}}><i class="fa fa-trash"/> Delete</button>
  </td>
</tr>
{{/each}}
  </tbody>
</table>
<!-- vim: set tabstop=2 shiftwidth=2 expandtab: -->
