<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<Account>
		<Identity>
			<Username>test_node_001</Username>
			<Domain>monitron.ddns.net</Domain>
		</Identity>
		<Password>NodeConfiguration</Password>
	 </Account>
	 <Pluggin>
	 	<Type>Monitron.Common.TestPlugin</Type>
	 	<AssemblyName>Monitron.Common, Version=1.0.5901.33397, Culture=neutral, PublicKeyToken=null</AssemblyName>
	 	<PlugginConfiguration>path</PlugginConfiguration>
	 </Pluggin>
 </configuration>
