<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Account>
    <Identity>
      <Username>test_node_001</Username>
      <Domain>monitron.ddns.net</Domain>
    </Identity>
    <Password>NodeConfiguration</Password>
  </Account>
  <Plugin>
	<DllPath>C:\Users\danielk\Documents\Monitron-Team\Monitron.git\Monitron.Node.Tests\bin\Debug</DllPath>
	<DllName>Monitron.Node.Tests.dll</DllName>
    <Type>Monitron.Node.Tests.TestNodePlugin</Type>
    <AssemblyName>Monitron.Node.Tests, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</AssemblyName>
  </Plugin>
</configuration>