<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  	    <add key="admin_username" value="monitron_test_admin"/>
  	    <add key="admin_host" value="monitron.ddns.net"/>
  	    <add key="admin_password" value="NoRestForTheWicked"/>
  </appSettings>
</configuration>
